<mat-form-field appearance="fill" >
    <mat-label>nom</mat-label>
    <input matInput >
</mat-form-field>
<mat-form-field appearance="fill" >
    <mat-label>prenom</mat-label>
    <input matInput >
</mat-form-field>
<mat-form-field appearance="fill" >
    
    <mat-label>address</mat-label>
    <input matInput >
</mat-form-field>
<mat-form-field appearance="fill" >
    
    <mat-label>numero de telephone</mat-label>
    <input matInput >
</mat-form-field>

<mat-form-field appearance="fill" >
    <mat-label>e-mail</mat-label>
    <input matInput >
</mat-form-field>
  
