<!-- Cards with media area -->


<mat-card class="example-card" *ngFor="let a of cartItem" style="margin:5% ;background-color: antiquewhite;">
    <mat-card-title-group>
      <mat-card-title>{{a.name}}</mat-card-title>
      <mat-card-subtitle>prix :{{a.prix}}</mat-card-subtitle>
      <img mat-card-xl-image src="http://localhost:8085/FileTrip/files/{{a.files.id}}" >
    </mat-card-title-group>
    <mat-card-content>description :
      {{a.description}}
    </mat-card-content> 
    
    <div >
      <mat-icon>add_circle</mat-icon>
      <a>5</a>
      <mat-icon>remove_circle</mat-icon>
    </div>
    <mat-icon>delete</mat-icon>
 </mat-card>
<div class="cardzied">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Prix Total :{{prixtotal}}</h5>
      <h6 class="card-subtitle mb-2 text-muted" *ngFor="let a of cartItem">{{a.name}} </h6>
      <button type="button" class="btn btn-secondary" (click)="dialoggg()">acheter</button>
      <button type="button" class="btn btn-warning">annuler</button>
    </div>
  </div>
</div>

 



  
  
  
  
  