        <app-navbar-front></app-navbar-front>
        <div class="wrapper">
            <div class="page-header section-dark"  style="background-image: url('assets/img/bsc.jpg'); ">
                <div class="filter"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="title-brand">
                            <h1 style="font-size: 70px; color: rgb(249, 241, 241); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Bourgou Store</h1>
                        </div>
                    </div>
                    <h2 class="presentation-subtitle text-center">Enjoy shopping </h2>
                </div>
            </div>
          </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <app-footer-front></app-footer-front>
