$shopping-cart-red: #000000;

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:$shopping-cart-red;
  text-align:center;
  min-width:2ema;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:black;
}

.red-cart {
	color:black; background:white;
}