$shopping-cart-red: green;

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:$shopping-cart-red;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:green;
}

.red-cart {
	color: green; background:white;
}
.badge{
  position:absolute;
  top: 15px;;
  right:  35px;
  height: 5px;
  width: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}