<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="AfficharticlebycategorieUniversTelephonieComponent" >Univers Telephonie</a>
            <a class="dropdown-item"routerLink="AfficharticlebycategorieComponent" >Univers Gaming</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"routerLink="AfficharticlebycategorieUniversInformatiqueComponent" >Univers Informatique</a>
          </div>
        </li>
      </ul>

      <form  class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
     
    </div>
    
    <!-- 
      <app-afficharticlebycategorie (newArticleEvent)="addArticle($event)"></app-afficharticlebycategorie>
    -->
    <!--
      

    <span class="material-icons" matBadge="18"matBadgeColor="warn" style="color: green;">shopping_cart</span>
    
    -->
    
    <span class="fa-stack fa-2x has-badge">
      <i class="fa fa-circle fa-stack-2x"></i>

      <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
    </span>
    <p class="badge">{{cartItem}}</p>
  </nav>